{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>ChillProger</title>
		<meta charset="utf-8">
		<link rel="shortcut icon" href="/upvotes/logo.jpeg" type="image/png">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style_posts.css' %}">
	</head>
	<body>
        {% block content %}
        {% endblock %}
	</body>
</html>